*{
    padding: 0px;
    margin: 0px;
}



.navbar a{
 color: #0DE6E6;
 text-decoration: none;
 font-size: 25px;
 font-family: Ubuntu;
 padding-left: 15px;
 
}
#kid{
    text-align: center;
    font-family: Lobster;
    
    padding-top: 15px;
}
#new{
    text-align: center;
    font-family: Lobster;
    margin-top: 10px;
}
#edu{
    text-align: center;
    /*margin-top:-15px ;*/
    font-family: Lobster;

}
#lorem{
    text-align: center;
    font-family: Lobster;
    font-size: 14px;
    margin-top: 10px;

}
#btn1{
    margin-left: 730px;
    margin-top: 20px;
    width: 90px;
    height: 27px;
    color: white;
    background-color: #036A6A;
    border: 2px solid #036A6A;
    border-radius: 7px;
   
    font-weight: bold;
}
.container1{
    background-color: #0DE6E6;
    height: 600px;
    color: white;
}
#img1{
    width: 290px;
    margin-top: 40px;
    margin-left: 640px;
    border-radius: 50%;
    height: 300px;
}
.container2{
    display: flex;
    margin-top: 60px;
}
.playground{
    border: 2px solid black;
    padding: 10px;
    margin-left: 600px;
    color: #707B7C  ;
    background-color: #CCD1D1;
    border: 2px solid #CCD1D1 ;
    border-radius: 7px;
}
.Music{
    border: 2px solid black;
    padding: 10px;
    margin-left: 20px;
    color: #707B7C  ;
    background-color: #CCD1D1;
    border: 2px solid #CCD1D1 ;
    border-radius: 7px;

}

.playground i{
    color:  #026060;
    font-weight: bold;
}
.Music i{
    color:  #026060;
    font-weight: bold;
}
.playground p{
    margin-top: 10px;
}
.Music p{
    margin-top: 10px;
}
.container3{
    display: flex;
    margin-top: 30px;
}
.Arts{
    border: 2px solid black;
    padding: 10px;
    margin-left: 600px;
    color: #707B7C  ;
    background-color: #CCD1D1;
    border: 2px solid #CCD1D1 ;
    border-radius: 7px;

}
.Safe{
    border: 2px solid black;
    padding: 10px;
    margin-left: 20px;
    color: #707B7C  ;
    background-color: #CCD1D1;
    border: 2px solid #CCD1D1 ;
    border-radius: 7px;
}
.Arts i{
    color:  #026060;
    font-weight: bold;
}
.Safe i{
    color:  #026060;
    font-weight: bold;
}
.Arts p{
    margin-top: 10px;
}
.Safe p{
    margin-top: 10px;
}
.container4{
    display: flex;
    margin-top: 30px;
}
.healthy{
    border: 2px solid black;
    padding: 10px;
    margin-left: 600px;
    color: #707B7C  ;
    background-color: #CCD1D1;
    border: 2px solid #CCD1D1 ;
    border-radius: 7px;

}
.edu{
    border: 2px solid black;
    padding: 10px;
    margin-left: 20px;
    color: #707B7C  ;
    background-color: #CCD1D1;
    border: 2px solid #CCD1D1 ;
    border-radius: 7px;
}
.healthy i{
    color:  #026060;
    font-weight: bold;
}
.edu i{
    color:  #026060;
    font-weight: bold;
}
.healthy  p{
    margin-top: 10px;
}
.edu p{
    margin-top: 10px;
}
.img2 img{
    width: 200px;
    border-radius: 10px;
    margin-left: 60px;
    margin-top: 80px;
}
.container5{
    margin-top: 20px;
    margin-left: 60px;
}
.container5 p{
    color:#0DE6E6 ;
}
.container5 h4{
    color:#026060 ;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}
#lor{
    color: #707B7C;
    margin-top: 10px;
}
.best1 img{
    width: 160px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 60px;
}
#btn2{
    margin-left:60px;
    margin-top: 5px;
    border-radius: 12px;
    width: 90px;
    height:25px ;
    color: white;
    background-color:#0DE6E6 ;
    font-weight: bold;
    border: 2px solid #0DE6E6;
}
.container6{
    display: flex;
}
.best2{
    margin-top: 25px;
    margin-left: 25px;

}
.fa-check {

  color:#0DE6E6;
}
.best2 a{
    color:  #707B7C;
    text-decoration: none;


}
.container7{
    text-align: center;
    margin-top: 20px;
}
.container7 p{
  color:#026060 ;
}
.container7 h2{
    font-weight: bold;
    font-size: 40px;
    color: #0DD3D6 ;

}
.container8 img{
    width: 200px;
}
.container8{
    display: flex;
}
.photo1 img{
    margin-top: 60px;
    margin-left: 60px;
}
.photo1 h3{
    margin-top: 10px;
    margin-left: 100px;
    color: #026060;
}
.photo1 p{
    margin-top: 10px;
    margin-left: 60px;
     color: #707B7C;
}
.photo2 img{
    margin-top: 50px;
    margin-left: 230px;
}
.photo2 h3{
    margin-top: 10px;
    margin-left: 260px;
    color: #026060;
}
.photo2 p{
    margin-top: 10px;
    margin-left: 230px;
     color: #707B7C;
}
.photo3 img{
    margin-top: 50px;
    margin-left: 190px;
}
.photo3 h3{
    margin-top: 10px;
    margin-left: 250px;
    color: #026060;
}
.photo3 p{
    margin-top: 10px;
    margin-left: 190px;
    color: #707B7C;

}
.photo1 button{
    margin-top: 10px;
    margin-left: 120px;
    width: 80px;
    height: 25px;
    border-radius: 12px;
    color: white;
    background-color:#0DE6E6 ;
    font-weight: bold;
    border: 2px solid #0DE6E6;
}
.photo2 button{
    margin-top: 10px;
    margin-left: 300px;
    width: 80px;
    height: 25px;
    border-radius: 12px;
    color: white;
    background-color:#0DE6E6 ;
    font-weight: bold;
    border: 2px solid #0DE6E6;
}
.photo3 button{
    margin-top: 10px;
    margin-left: 260px;
    width: 80px;
    height: 25px;
    border-radius: 12px;
    color: white;
    background-color:#0DE6E6 ;
    font-weight: bold;
    border: 2px solid #0DE6E6;
}
.container9{
    display: flex;
}
.bookleft{
    margin-top: 60px;
    margin-left: 60px;
}
.bookleft h2{
    font-weight: bold;
    font-size: 35px;
    margin-top: 10px;
    color: #026060;

}
.bookleft p{
    margin-top: 10px;
    color: #707B7C;
}
.bookleft a{
    margin-top: 10px;
    text-decoration: none;
    color: #707B7C;
}
.bookleft i{
    margin-top: 20px;
}
#one{
    color: #0DE6E6;
}
.bookright{
    margin-top: 60px;
    margin-left: 300px;
    width: 400px;
    margin-right: 30px;

}
.bookright h2{
    border: 2px solid black;
    border-radius: 2px;
    /*width: 300px;
    height: 50px;*/
    padding: 25px;
    width: 345px;
    color: white;
    background-color: black;
}
.bookright input{
    border: 2px solid black;

    padding: 10px;
    margin: 10px;
    width: 200px;
    margin-left: 70px;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 6px;
}
.uou{
    border: 2px solid #0DB8D6 ;
    background-color: #0DB8D6 ;

}
.uou button{
    margin-top: 10px;
    margin-left:67px;
    width: 230px;
    height: 35px;
    border-radius: 10px;
    color: white;
    background-color: #100260 ;
    margin-bottom: 25px;
    border: 2px solid #0DD3D6;
}
.tech{
    text-align: center;
    margin-top: 70px;
}
.tech p{
    margin-top: 30px;
   color:#026060 ;
}
.tech h1{
    font-weight: bold;
    font-size: 40px;
    color: #0DD3D6 ;
}
.container10 img{
    width: 200px;
    margin-top: 30px;
    margin: 70px;
    margin-left: 100px;
    border-radius: 50%;
    
    height: 200px;

}
.container10{
    display: flex;
}
/*.techer1{
    height: 700px;
}*/
.techer1 p{
    margin-left: 150px;
    margin-top: -60px;
    font-weight: bold;
    color: #0DD3D6;
}
.techer1 p{
    margin-left: 150px;
    margin-top: -60px;
    font-weight: bold;
    color: #0DD3D6;
}
.techer2 p{
    margin-left: 150px;
    margin-top: -60px;
    font-weight: bold;
    color: #0DD3D6;
}
.techer3 p{
    margin-left: 180px;
    margin-top: -60px;
    font-weight: bold;
    color: #0DD3D6;
}
.techer4 p{
    margin-left: 180px;
    margin-top: -60px;
    font-weight: bold;
    color: #0DD3D6;
}
.tech2{
    text-align: center;
    margin-top: 90px;
}
.tech2 p{
    margin-top: 30px;
   color:#026060 ;
}
.tech2 h1{
    font-weight: bold;
    font-size: 40px;
    color: #0DD3D6 ;
}
.container11{
    display: flex;
}
.qu1{
    margin-top: 40px;
    margin-left: 100px;
    color: #026060;
    border: 2px solid #E5E7E9 ;
    padding: 20px;
    background-color: #E5E7E9 ;
    border-radius: 6px;
}
.qu2{
    margin-top: 40px;
    margin-left: 230px;
    color: #026060;
    border: 2px solid #E5E7E9;
    padding: 20px;
    background-color: #E5E7E9 ;
    border-radius: 6px;
}
.qu3{
    margin-top: 40px;
    margin-left: 200px;
    color: #026060;
    border: 2px solidE5E7E9;
    padding: 20px;
    background-color: #E5E7E9 ;
    border-radius: 6px;
}
.fa-quote-left{
    color:#0DD3D6 ;
    font-size: 30px;
}
.container11 a{
  text-decoration: none;
  color:#707B7C ;
  word-spacing: 2.7px;
}
.container13{
    display: flex;
}
.container13 img{
    width: 85px;
    border-radius: 50%;
    width: 90px;
    height: 90px;

}
.Parent-photo1{
    margin-top: 30px;
    margin-left: 100px;

}
.Parent-photo2{
    margin-top: 30px;
    margin-left: 340px;
}
.Parent-photo3{
    margin-top: 30px;
    margin-left: 310px;
}
.Parent-photo1 p{
    margin-left: 100px;
    margin-bottom: -40px;
    color:#026060 ;
}
.Parent-photo2 p{
    margin-left: 100px;
    margin-bottom: -40px;
    color:#026060 ;
}
.Parent-photo3 p{
    margin-left: 100px;
    margin-bottom: -40px;
    color:#026060 ;
}
.container14{
    display: flex;
    margin-top: 100px;
    


}
.final{
    background-color: #0404DA    ;
    height: 330px;
}
.last1{
  margin-left: 90px;
}
.last2{
    margin-left: 130px;
}
.last3{
    margin-left: 140px;
}
.last4{
    margin-left: 160px;
}
.last1 a{
    font-weight: bold;
    font-size: 25px;
    color: white;
    text-decoration: none;

}
.last1{
    margin-top: 40px;
}
.last1 p{
    color: white;
    margin-top: 13px;
    word-spacing: 3px;
}
.fa-twitter{
    color: #0DD3D6;
    border-radius: 50%;
    border: 2px solid #0DD3D6;
    padding: 4px;
    margin-top: 13px;
}
.fa-facebook{
    color: #0DD3D6;
    border-radius: 50%;
    border: 2px solid #0DD3D6;
    padding: 4px;

}
.fa-linkedin{
    color: #0DD3D6;
    border-radius: 50%;
    border: 2px solid #0DD3D6;
    padding: 4px;

}
.fa-instagram{
    color: #0DD3D6;
    border-radius: 50%;
    border: 2px solid #0DD3D6;
    padding: 4px;
}

.last2{
    margin-top: 40px;
}
.last2 h2{
    color: #0DD3D6;
}
.last2 a{
    text-decoration: none;
    word-spacing: 2px;
    color: white;
}
.fa-map-marker-alt{
    color: #0DD3D6;
}
.fa-envelope{
    color: #0DD3D6;
}
.fa-phone{
    color: #0DD3D6;
}
.last3 {
    margin-top: 40px;
}

.last3 h2{
    color: #0DD3D6;
}
.last3 li{
    color: white;
    margin-top: 10px;
    margin-left: 17px;
}
.last4{
    margin-top: 40px;
}
.last4 h2{
    color:#0DD3D6 ;
}
.last4 input{
    margin-top: 20px;
    width: 190px;
    height: 25px;
    border-radius: 5px;
}
.last4 button{
    width: 195px;
    height: 35px;
    border-radius: 15px;
    color: white;
    background-color:#0DD3D6 ;
    border: 2px solid #0DD3D6;
    font-weight: bold;
}
.footer{
    margin-top: 40px;
    text-align: center;
    

}
#har{
    margin-top: 25px;
    color: #0DD3D6;
}
.foo span{
    color: white;

}
.foo p{
    color: #0DD3D6;
}
.foo{
    margin-top: -15px;
}
.bookleft button{
    color: white;
    font-weight: bold;
    padding: 3px;
    border-radius: 6px;
    border: 2px solid #0DD3D6 ;
    background-color: #0DD3D6;

}