*{
    padding: 0px;
    margin: 0px;
}



.navbar a{
 color: #0DE6E6;
 text-decoration: none;
 font-size: 25px;
 font-family: Ubuntu;
 padding-left: 15px;
 
}
#kid{
    text-align: center;
    font-family: Lobster;
    
    padding-top: 15px;
}
#new{
    text-align: center;
    font-family: Lobster;
    margin-top: 10px;
}
#edu{
    text-align: center;
    /*margin-top:-15px ;*/
    font-family: Lobster;

}
#lorem{
    text-align: center;
    font-family: Lobster;
    font-size: 14px;
    margin-top: 10px;

}
#btn1{
    margin-left: 730px;
    margin-top: 20px;
    width: 90px;
    height: 27px;
    color: white;
    background-color: #036A6A;
    border: 2px solid #036A6A;
    border-radius: 7px;
   
    font-weight: bold;
}
.container1{
    background-color: #0DE6E6;
    height: 600px;
    color: white;
}
#img1{
    width: 290px;
    margin-top: 40px;
    margin-left: 640px;
    border-radius: 50%;
    height: 300px;
}
.container2{
    display: flex;
    margin-top: 60px;
}
.playground{
    border: 2px solid black;
    padding: 10px;
    margin-left: 600px;
    color: #707B7C  ;
    background-color: #CCD1D1;
    border: 2px solid #CCD1D1 ;
    border-radius: 7px;
}
.Music{
    border: 2px solid black;
    padding: 10px;
    margin-left: 20px;
    color: #707B7C  ;
    background-color: #CCD1D1;
    border: 2px solid #CCD1D1 ;
    border-radius: 7px;

}

.playground i{
    color:  #026060;
    font-weight: bold;
}
.Music i{
    color:  #026060;
    font-weight: bold;
}
.playground p{
    margin-top: 10px;
}
.Music p{
    margin-top: 10px;
}
.container3{
    display: flex;
    margin-top: 30px;
}
.Arts{
    border: 2px solid black;
    padding: 10px;
    margin-left: 600px;
    color: #707B7C  ;
    background-color: #CCD1D1;
    border: 2px solid #CCD1D1 ;
    border-radius: 7px;

}
.Safe{
    border: 2px solid black;
    padding: 10px;
    margin-left: 20px;
    color: #707B7C  ;
    background-color: #CCD1D1;
    border: 2px solid #CCD1D1 ;
    border-radius: 7px;
}
.Arts i{
    color:  #026060;
    font-weight: bold;
}
.Safe i{
    color:  #026060;
    font-weight: bold;
}
.Arts p{
    margin-top: 10px;
}
.Safe p{
    margin-top: 10px;
}
.container4{
    display: flex;
    margin-top: 30px;
}
.healthy{
    border: 2px solid black;
    padding: 10px;
    margin-left: 600px;
    color: #707B7C  ;
    background-color: #CCD1D1;
    border: 2px solid #CCD1D1 ;
    border-radius: 7px;

}
.edu{
    border: 2px solid black;
    padding: 10px;
    margin-left: 20px;
    color: #707B7C  ;
    background-color: #CCD1D1;
    border: 2px solid #CCD1D1 ;
    border-radius: 7px;
}
.healthy i{
    color:  #026060;
    font-weight: bold;
}
.edu i{
    color:  #026060;
    font-weight: bold;
}
.healthy  p{
    margin-top: 10px;
}
.edu p{
    margin-top: 10px;
}
.img2 img{
    width: 200px;
    border-radius: 10px;
    margin-left: 60px;
    margin-top: 80px;
}
.container5{
    margin-top: 20px;
    margin-left: 60px;
}
.container5 p{
    color:#0DE6E6 ;
}
.container5 h4{
    color:#026060 ;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}
#lor{
    color: #707B7C;
    margin-top: 10px;
}
.best1 img{
    width: 160px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 60px;
}
#btn2{
    margin-left:60px;
    margin-top: 5px;
    border-radius: 12px;
    width: 90px;
    height:25px ;
    color: white;
    background-color:#0DE6E6 ;
    font-weight: bold;
    border: 2px solid #0DE6E6;
}
.container6{
    display: flex;
}
.best2{
    margin-top: 25px;
    margin-left: 25px;

}
.fa-check {

  color:#0DE6E6;
}
.best2 a{
    color:  #707B7C;
    text-decoration: none;


}
.container7{
    text-align: center;
    margin-top: 20px;
}
.container7 p{
  color:#026060 ;
}
.container7 h2{
    font-weight: bold;
    font-size: 40px;
    color: #0DD3D6 ;

}
.container8 img{
    width: 200px;
}
.container8{
    display: flex;
}
.photo1 img{
    margin-top: 60px;
    margin-left: 60px;
}
.photo1 h3{
    margin-top: 10px;
    margin-left: 100px;
    color: #026060;
}
.photo1 p{
    margin-top: 10px;
    margin-left: 60px;
     color: #707B7C;
}
.photo2 img{
    margin-top: 50px;
    margin-left: 230px;
}
.photo2 h3{
    margin-top: 10px;
    margin-left: 260px;
    color: #026060;
}
.photo2 p{
    margin-top: 10px;
    margin-left: 230px;
     color: #707B7C;
}
.photo3 img{
    margin-top: 50px;
    margin-left: 190px;
}
.photo3 h3{
    margin-top: 10px;
    margin-left: 250px;
    color: #026060;
}
.photo3 p{
    margin-top: 10px;
    margin-left: 190px;
    color: #707B7C;

}
.photo1 button{
    margin-top: 10px;
    margin-left: 120px;
    width: 80px;
    height: 25px;
    border-radius: 12px;
    color: white;
    background-color:#0DE6E6 ;
    font-weight: bold;
    border: 2px solid #0DE6E6;
}
.photo2 button{
    margin-top: 10px;
    margin-left: 300px;
    width: 80px;
    height: 25px;
    border-radius: 12px;
    color: white;
    background-color:#0DE6E6 ;
    font-weight: bold;
    border: 2px solid #0DE6E6;
}
.photo3 button{
    margin-top: 10px;
    margin-left: 260px;
    width: 80px;
    height: 25px;
    border-radius: 12px;
    color: white;
    background-color:#0DE6E6 ;
    font-weight: bold;
    border: 2px solid #0DE6E6;
}
.container9{
    display: flex;
}
.bookleft{
    margin-top: 60px;
    margin-left: 60px;
}
.bookleft h2{
    font-weight: bold;
    font-size: 35px;
    margin-top: 10px;
    color: #026060;

}
.bookleft p{
    margin-top: 10px;
    color: #707B7C;
}
.bookleft a{
    margin-top: 10px;
    text-decoration: none;
    color: #707B7C;
}
.bookleft i{
    margin-top: 20px;
}
#one{
    color: #0DE6E6;
}
.bookright{
    margin-top: 60px;
    margin-left: 300px;
    width: 400px;
    margin-right: 30px;

}
.bookright h2{
    border: 2px solid black;
    border-radius: 2px;
    /*width: 300px;
    height: 50px;*/
    padding: 25px;
    width: 345px;
    color: white;
    background-color: black;
}
.bookright input{
    border: 2px solid black;

    padding: 10px;
    margin: 10px;
    width: 200px;
    margin-left: 70px;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 6px;
}
.uou{
    border: 2px solid #0DB8D6 ;
    background-color: #0DB8D6 ;

}
.uou button{
    margin-top: 10px;
    margin-left:67px;
    width: 230px;
    height: 35px;
    border-radius: 10px;
    color: white;
    background-color: #100260 ;
    margin-bottom: 25px;
}
.tech{
    text-align: center;
    margin-top: 70px;
}
.tech p{
    margin-top: 30px;
   color:#026060 ;
}
.tech h1{
    font-weight: bold;
    font-size: 40px;
    color: #0DD3D6 ;
}
.container10 img{
    width: 200px;
    margin-top: 30px;
    margin: 70px;
    margin-left: 100px;
    border-radius: 50%;
    
    height: 200px;

}
.container10{
    display: flex;
}
.techer1{
    height: 700px;
}
.techer1 p{
    margin-left: 150px;
    margin-top: -60px;
    font-weight: bold;
    color: #0DD3D6;
}
.techer1 p{
    margin-left: 150px;
    margin-top: -60px;
    font-weight: bold;
    color: #0DD3D6;
}
.techer2 p{
    margin-left: 150px;
    margin-top: -60px;
    font-weight: bold;
    color: #0DD3D6;
}
.techer3 p{
    margin-left: 180px;
    margin-top: -60px;
    font-weight: bold;
    color: #0DD3D6;
}
.techer4 p{
    margin-left: 180px;
    margin-top: -60px;
    font-weight: bold;
    color: #0DD3D6;
}